<h1>All News</h1>

<h2><%= link_to "Додати новину", new_news_path(:news) %></h2>



<% @newss.each do |n| %>


	<p>Title:<%= n.title %>		<%= link_to "Редагувати", edit_news_path(n) %></p>
	<p>Hedline:<%= n.hedline %>		<%= link_to "Видалити", news_path(n), method: :delete, data: { confirm: "Delite user?" } %></p>
	<p>Content:<%= n.content %></p>
	
	
<% end %>




