<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/header'%>

<table class="table_home">

	<tr class="tr">

		<td class="td_left" >
		<%= render partial: "layouts/left_nav" %>
		</td>

		<td class="td_center">
		<% if flash[:error] %>
		<p id="flash_error" valign="top"><%=flash[:error]%></p>
		<% end %>
		<%= yield %>
		</td>

		<td class="td_right">
		some things
		</td>

	</tr>

</table>

<%= render partial: 'layouts/footer' %>

</body>
</html>
